---
import BaseLayout from '../layouts/BaseLayout.astro';

const email = "alfred@beagle.com";
---

<BaseLayout>

  <section class="py-8">

    <h1 class="text-3xl font-bold mb-4">Contact Me</h1>

    <p>
      You can reach me via email at <a href="mailto:your.email@example.com" class="text-blue-500 hover:underline">{email}</a>.
    </p>
    
  </section>

</BaseLayout>
