---
import BaseLayout from '../layouts/BaseLayout.astro';

const email = "alfred@beagle.com";
---


<BaseLayout>


  <main class="container mx-auto px-auto py-8 md:flex md:gap-8">
    <div class="md:w-full bg-white/80 p-6 shadow-lg px-10 py-6 rounded-3xl">

      <section class="py-8">
        <h1 class="text-3xl font-bold mb-4">Contact Me</h1>
        <p>
          You can reach me via email at <a href="mailto:your.email@example.com" class="text-blue-500 hover:underline">{email}</a>.
        </p>
      </section>

      <div class="join">
        <div>
          <label class="input validator join-item">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></g></svg>
            <input type="email" placeholder="mail@site.com" required/>
          </label>
          <div class="validator-hint hidden">Enter valid email address</div>
        </div>
        <button class="btn btn-neutral join-item">Join</button>
      </div>

      <br>
      <br>
      <br>
      <br>

      <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
        
        <label class="fieldset-label">Title</label>
        <input type="text" class="input" placeholder="My awesome page" />
        
        <label class="fieldset-label">Slug</label>
        <input type="text" class="input" placeholder="my-awesome-page" />
        
        <label class="fieldset-label">Author</label>
        <input type="text" class="input" placeholder="Name" />
      </fieldset>
      




    </div>



    
  </main>

</BaseLayout>
