---
import BaseLayout from "../layouts/BaseLayout.astro";
import FAQItem from "../components/FAQItem.astro";
import { faqItems } from "../data/faqData.ts";
---

<BaseLayout>
  <main class="container mx-auto px-4 py-8 md:flex md:gap-8">
    <div class="md:w-3/3 bg-white/80 p-6 shadow-lg px-6 py-8 rounded-lg">
      <h1 class="text-3xl font-bold mb-5 text-center">Често Задавани Въпроси</h1>
      <hr class="border-t border-gray-500 mb-6" />

      <div class="space-y-4">
        {
          faqItems.map(
              (faq) => (
                <FAQItem question={faq.question} answer={faq.answer} />
              )
            )
        }
      </div>

       <!-- Bonus Question Section -->
       <div class="mt-6 p-4 border border-blue-600 bg-white/60 rounded-lg text-center">
        <p class="text-blue-800 text-xl font-semibold">
          Имате други въпроси? Не се колебайте да се свържете с нас!
        </p>
        <p class="mt-2 text-gray-700 text-base italic">
          Ще се радваме да помогнем!
        </p>
      </div>

      <div class="text-center">
        <a href="/contact" class="mt-4 inline-block px-14 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
          Свържете се с нас
        </a>
    </div>

  </main>
</BaseLayout>
