---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="py-8">
    <h1 class="text-3xl font-bold mb-4">FAQ</h1>

    <p>FAQ1</p>
    <p>FAQ2</p>
    <p>FAQ31</p>
    <p>FAQ4</p>
  </section>
</BaseLayout>
