---
import BaseLayout from "../layouts/BaseLayout.astro";
import FAQItem from "../components/FAQItem.astro";
import { faqItems } from "../data/faqData.ts";
---

<BaseLayout>
  <main class="container mx-auto px-4 py-8 md:flex md:gap-8">
    <div class="md:w-3/3 bg-white/75 p-6 shadow-lg px-6 py-8 rounded-lg">
      <h1 class="text-3xl font-bold mb-5 text-center">Често Задавани Въпроси</h1>
      <hr class="border-t border-gray-500 mb-6" />

      <div class="space-y-4">
        {
          faqItems.map(
              (faq) => (
                <FAQItem question={faq.question} answer={faq.answer} />
              )
            )
        }
      </div>
    </div>
  </main>
</BaseLayout>
