---
import BaseLayout from "../layouts/BaseLayout.astro";

const name = "Alfred";
const profession = "Lawyer";
const town = "Shumen";
---

<BaseLayout>

  <main class="container mx-auto px-auto py-8 md:flex md:gap-8">
    <div class="md:w-full bg-white/80 p-6 shadow-lg px-10 py-6 rounded-2xl">

      <p class="text-lg text-gray-700">Totally different style</p>

    </div>


  </main>

</BaseLayout>
