---
import BaseLayout from "../layouts/BaseLayout.astro";

const name = "Alfred";
const profession = "Lawyer";
const town = "Shumen";
---

<BaseLayout>
  <main class="container mx-auto px-4 py-8 md:flex md:gap-8">


    <p class="text-lg text-gray-700">Totally different style</p>


  </main>
</BaseLayout>
