---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

  <section class="py-8">

    <h1 class="text-3xl font-bold mb-4">My Projects</h1>
    
    <ul class="space-y-4">
      <li>
        <h2 class="text-xl font-semibold">Project One</h2>
        <p>Short description of Project One.</p>
      </li>
      <li>
        <h2 class="text-xl font-semibold">Project Two</h2>
        <p>Short description of Project Two.</p>
      </li>
      <li>
        <h2 class="text-xl font-semibold">Project Two</h2>
        <p>Short description of Project Two.</p>
      </li>
      <li>
        <h2 class="text-xl font-semibold">Project Two</h2>
        <p>Short description of Project Two.</p>
      </li>
      <li>
        <h2 class="text-xl font-semibold">Project Two</h2>
        <p>Short description of Project Two.</p>
      </li>
      <li>
        <h2 class="text-xl font-semibold">Project Two</h2>
        <p>Short description of Project Two.</p>
      </li>
      <li>
        <h2 class="text-xl font-semibold">Project Two</h2>
        <p>Short description of Project Two.</p>
      </li>
    </ul>

  </section>


  <section class="py-12">

    <h2> batman </h2>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    <h1>batman</h1>
    
  </section>

</BaseLayout>