<header class="p-4 bg-blue-500 text-white">
    <nav class="container mx-auto flex justify-between items-center">

      <ul class="flex space-x-4">

        <!-- Menu Button -->
        <li><button id="menuBtn" class="bg-gray-700 text-white p-2 cursor-pointer">Menu</button></li>

        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/about" class="hover:underline">About</a></li>
        <li><a href="/projects" class="hover:underline">Projects</a></li>
        <li><a href="/contact" class="hover:underline">Contact</a></li>

      </ul>
      
    </nav>
  </header>