---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "/public/global.css";
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Alfred The Lawyer of Transport</title>

    <link rel="stylesheet" href="/global.css">

    <!-- Tailwind CSS CDN -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <script src="https://unpkg.com/@tailwindcss/browser@4"></script> -->

    <!-- daisyUI CDN -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

    <!-- Flowbite CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

    <!-- Font Awesome CDN for Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">

  </head>

  <body class="bg-gray-50 text-gray-900 min-h-screen flex flex-col bg-cover bg-center" style="background-image: url('/images/law9.jpg'); background-attachment: fixed;">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />

    <!-- Flowbite CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <!-- EmailJS CDN -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>

    <!-- EmailJS -->
    <script type="text/javascript">
      // Initialize EmailJS with your public key
      (function(){
        emailjs.init({
          publicKey: "gKXmXTs4yO9iPRlqh",
        });
      })();
    
      // Add event listener to the form
      document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default submission
    
        emailjs.sendForm('service_vgmnt8b', 'template_roh1lgk', this)
          .then(function() {
              console.log('SUCCESS!');
              alert('Message sent successfully!');
          }, function(error) {
              console.error('Failed to send message. Error: ', error);
              alert('Failed to send message. Please try again later.');
          });
      });
    </script>
    

  </body>

</html>