---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SlidingMenu from "../components/SlidingMenu.astro";

const currentYear = 2025;
const name = "Alfred";
const town = "Varna";
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfred The Lawyer of Transport</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <!-- Tailwind CSS CDN for simplicity -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-50 text-gray-900">

    <!-- <header class="p-4 bg-blue-500 text-white">
      <nav class="container mx-auto flex justify-between items-center">

        <ul class="flex space-x-4">
          
          <li><button id="menuBtn" class="bg-gray-700 text-white p-2 cursor-pointer">Menu</button></li>

          <li><a href="/" class="hover:underline">Home</a></li>
          <li><a href="/about" class="hover:underline">About</a></li>
          <li><a href="/projects" class="hover:underline">Projects</a></li>
          <li><a href="/contact" class="hover:underline">Contact</a></li>
        </ul>

      </nav>
    </header> -->

    <Header />

    <SlidingMenu />
      

    <main class="container mx-auto p-4">
      <slot />
    </main>

    <Footer />

    <script src="/src/scripts/sliding-menu.js" defer></script>

  </body>

</html>